
/* Your CSS Code here. */
table,tr,th,td{
	border:1px solid  black;
	border-collapse: collapse;	
}
#tr1{
	background-color: lightseagreen;
	text-align: left;
}
#tr2{
	background-color: deeppink;
}
#tr3{
	background-color:lightskyblue;
}
#tr4{
	background-color:lightgray
}
.right{
	text-align:right;
}
td:nth-child(even),td:nth-child(3),td:nth-child(5){
	text-align:right;
}
